<header class="page-header">
<h2>Register</h2>
</header>

<%= form_for @user, url: users_path do |f| %>

  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <strong>You cannot signup due to the next error</strong>
      <ul>
        <% @user.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <dl style="list-style-type:none">
    <dt>First Name:</dt>
      <dd><%= f.text_field :first_name %></dd>
    <dt>Last Name:</dt>
      <dd><%= f.text_field :last_name %></dd>
    <dt>Email:</dt>
      <dd><%= f.text_field :email %></dd>
    <dt>Password:</dt>
      <dd><%= f.password_field :password %></dd>
    <dt>Password Confirmation:</dt>
      <dd><%= f.password_field :password_confirmation %></dd>
    <dt><%= f.submit "Submit", class: 'btn btn-success' %></dt>
  </dl>

<% end %>